beautifulsoup4==4.5.3
Django==1.11.2
django-admin2==0.7.1
django-braces==1.11.0
django-extra-views==0.8.0
django-filter==1.0.0
djangorestframework==3.5.3
future==0.16.0
google==1.9.3
lxml==3.7.2
matplotlib==2.0.0
numexpr==2.6.1
numpy==1.11.3
numpydoc==0.6.0
openpyxl==2.4.1
pandas==0.19.2
PyMySQL==0.7.11
pyOpenSSL==16.2.0
requests==2.9.1
scipy==0.18.1
selenium==3.4.3
SQLAlchemy==1.1.5
virtualenv==15.1.0
xlrd==1.0.0
XlsxWriter==0.9.6
xlwt==1.2.0
pyvirtualdisplay
gunicorn

mysqlclient
django_localflavor_us
